body {background-color: #fdfdfd; font-family: 'NanumBarunGothic', 'serif'; }
h1 {text-align:center; margin-top:50px;}
ul, li {list-style: none; margin:0; padding:0;}


/*App.js*/
.formBox {width:750px; height:480px; margin:40px auto; box-sizing:border-box;}



/*Info.js*/
.listbox {width:180px; height:140px; background-color: #fff; border:.8px solid #ededed;  margin:0 5px 5px 0;
	float:left;}
.listbox ul {width:160px; margin:10px auto;}
.listbox ul li {padding:2px 0;}
.edit_container {text-align: center; }
.edit_container .buttonbox {  border-radius:5px; }



.update {color: #fff; border: solid 1px #0076a3; margin-right:10px;
    background: #ddd; }
.update:hover {color: #fff; background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));}
.update:active {color: #80bed6; background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));}

.delete {color: #fff; border: solid 1px #980c10; background: #d81b21;
    background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));}
.delete:hover {color: #fff; background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));}

.acceptbtn {cursor:pointer; color: #606060; border: solid 1px #b7b7b7;
	background: #fff; background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));}
.acceptbtn:hover {background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));}

.upload { border-radius:5px; color: #ddd; border: solid 1px #b7b7b7; cursor:pointer;
	width:80px; height:25px; text-shadow: 0 1px 1px rgba(0,0,0,.1); margin-top:30px; }
.upload:hover {background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));}


/*Form.js*/
.inputForm {width:300px; height:433px; margin-right:50px; float:left; background-color:#fff; border:.8px solid #ededed;}
.uploadbox {margin-top:40px;}
.inputbox {width:200px; padding:3px; margin:5px 0 20px; display:block;}





/*InfoList.js*/
.bigbox {width:398px; overflow: hidden; overflow-y: auto; height:450px;}
