body {background-color: #fdfdfd; font-family: 'NanumBarunGothic', 'serif';}
h1 {text-align:center;}




/*Info.js*/
.bigbox {width:1000px; margin:50px auto;}
.listbox {width:200px; height:160px; background-color: #fff; border:1px solid #ededed; padding:10px; margin:5px;
	float:left;}
.listbox div {margin-top:5px;}
.edit_container { text-align:center;}
.buttonbox {margin-top:30px; border-radius:5px; cursor:pointer; width:60px; height:25px;}
.update {background-color:#fff; border:1px solid blue; margin-right:10px;}
.delete {background-color:#fff; border:1px solid red;}


/*Form.js*/
.inputbox {width:200px; margin-right:5px;}


